@import "../fonts/Arial/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* COLORS */
  --bg: #f7f6f9;
  --cards: #ffffff;
  --text: #323949;
  --white: #ffffff;
  --dark-blue-100: #6a97ff;
  --dark-blue-15: #6a97ff26;
  --dark-blue-30: #6a97ff4d;
  --dark-blue-50: #6a97ff80;
  --dark-blue-80: #6a97ffcc;
  --gray-100: #9998b8;
  --gray-50: #9998b880;
  --gray-20: #9998b833;
  --gray-80: #9998b8cc;
  --green-100: #79dec2;
  --green-15: #79dec226;
  --green-30: #79dec24d;
  --green-50: #79dec280;
  --green-80: #79dec2cc;
  --input-active: #6160ff0a;
  --input-additional: #ffffff;
  --input-default: #6160ff0a;
  --input-error: #ff40570d;
  --light-blue-100: #a6c1ff;
  --light-blue-15: #a6c1ff26;
  --light-blue-30: #a6c1ff4d;
  --light-blue-50: #a6c1ff80;
  --light-blue-80: #a6c1ffcc;
  --main-100: #6160ff;
  --main-15: #6160ff15;
  --main-30: #6160ff4d;
  --main-50: #6160ff80;
  --main-80: #6160ffcc;
  --red-100: #ff4057;
  --red-15: #ff405726;
  --red-30: #ff40574d;
  --red-50: #ff405780;
  --red-80: #ff4057cc;
  --red-5: #ff40570d;
  --stroke-100: #deddec;
  --text-50: #32394980;
  --text-80: #323949cc;
  --text-90: #323949e5;
  --text-dark: #0e1118;
  --violet-100: #8763f3;
  --violet-15: #8763f326;
  --violet-30: #8763f34d;
  --violet-50: #8763f380;
  --violet-80: #8763f3cc;
  --orange-100: #ff964b;
  --orange-15: #ff964b26;
  /* SHADOWS */
  --shadow: 0 3px 1px 0 rgba(135 99 243 / 0.12);
  --shadow-hover: 0px 4px 1px 0px rgba(135, 99, 243, 0.12);
  --dark-shadow: 0 2px 1px 0 rgba(214 200 255 / 0.22);
  --dark-shadow-hover: 0 4px 1px 0 rgba(214 200 255 / 0.22);
}

.dark {
  /* Collection 1 */
  /* Dark */ /* colors */
  --bg: #23242c;
  --cards: #3a3945;
  --text: #ffffff;
  --white: #ffffff;
  --dark-blue-100: #6a97ff;
  --dark-blue-15: #6a97ff26;
  --dark-blue-30: #6a97ff4d;
  --dark-blue-50: #6a97ff80;
  --dark-blue-80: #6a97ffcc;
  --gray-100: #aaa9c9;
  --gray-50: #aaa9c980;
  --gray-80: #aaa9c9cc;
  --green-100: #79dec2;
  --green-15: #79dec226;
  --green-30: #79dec24d;
  --green-50: #79dec280;
  --green-80: #79dec2cc;
  --input-active: #ffffff0a;
  --input-additional: #4c4b5c;
  --input-default: #ffffff0a;
  --input-error: #ff405726;
  --light-blue-100: #a6c1ff;
  --light-blue-15: #a6c1ff26;
  --light-blue-30: #a6c1ff4d;
  --light-blue-50: #a6c1ff80;
  --light-blue-80: #a6c1ffcc;
  --main-100: #6160ff;
  --main-15: #6160ff26;
  --main-30: #6160ff4d;
  --main-50: #6160ff80;
  --main-80: #6160ffcc;
  --red-100: #ff4057;
  --red-15: #ff405726;
  --red-30: #ff40574d;
  --red-50: #ff405780;
  --red-80: #ff4057cc;
  --stroke-100: #636280;
  --text-50: #ffffff80;
  --text-80: #ffffffcc;
  --text-90: #ffffffe5;
  --text-dark: #fff;
  --violet-100: #8763f3;
  --violet-15: #8763f326;
  --violet-30: #8763f34d;
  --violet-50: #8763f380;
  --violet-80: #8763f3cc;
}

@media screen and (min-width: 1024px) {
  body {
    padding-right: var(--scrollbar-width);
  }
}
svg {
  overflow: visible;
}

@layer base {
  html {
    font-size: 0.83vw;
    overflow-x: hidden;
  }
  @media (max-width: 1023px) {
    html {
      font-size: 16px;
    }
  }
  @media (max-width: 400px) {
    html {
      font-size: 4vw;
    }
  }
  @media screen and (min-width: 2000px) {
    html {
      font-size: 18px;
    }
  }
  html body {
    width: 100vw;
    @apply font-arial text-text bg-bg;
  }
  html body.scroll-locked {
    overflow: hidden !important;
    touch-action: none;
    -ms-touch-action: none;
    position: fixed;
  }
}
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-20);
  border-radius: 25px;
  border: 0.2rem solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-50);
  border: 0.2rem solid transparent;
  background-clip: padding-box;
}

.link-d3 {
  transition: stroke 0.3s ease;
  stroke: gray;
}

.link:hover {
  animation: pulse 2s infinite;
  stroke: red;
}

@keyframes pulse {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes oscillate-smooth {
  0% {
    transform: skewX(0deg) skewY(0deg);
  }
  6.25% {
    transform: skewX(2.5deg) skewY(0deg);
  }
  12.5% {
    transform: skewX(5deg) skewY(0deg);
  }
  18.75% {
    transform: skewX(5deg) skewY(2.5deg);
  }
  25% {
    transform: skewX(5deg) skewY(5deg);
  }
  31.25% {
    transform: skewX(2.5deg) skewY(5deg);
  }
  37.5% {
    transform: skewX(0deg) skewY(5deg);
  }
  43.75% {
    transform: skewX(-2.5deg) skewY(5deg);
  }
  50% {
    transform: skewX(-5deg) skewY(5deg);
  }
  56.25% {
    transform: skewX(-5deg) skewY(2.5deg);
  }
  62.5% {
    transform: skewX(-5deg) skewY(0deg);
  }
  68.75% {
    transform: skewX(-2.5deg) skewY(0deg);
  }
  75% {
    transform: skewX(-2.5deg) skewY(-2.5deg);
  }
  81.25% {
    transform: skewX(0deg) skewY(-2.5deg);
  }
  87.5% {
    transform: skewX(2.5deg) skewY(-2.5deg);
  }
  93.75% {
    transform: skewX(2.5deg) skewY(0deg);
  }
  100% {
    transform: skewX(0deg) skewY(0deg);
  }
}
.animate-oscillate-smooth {
  animation: oscillate-smooth 20s infinite linear;
}

@keyframes spin-y {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
}
.animate-spin-y {
  animation: spin-y 4s infinite linear;
}

.play_button {
  display: none;
}/*# sourceMappingURL=global.css.map */