@import "./fonts.scss";
@import "./tailwind.scss";

@layer base {
  html {
    font-size: 0.83vw;

    @media (max-width: 1023px) {
      font-size: 16px;
    }

    @media (max-width: 400px) {
      font-size: 4vw;
    }

    @media screen and (min-width: 2000px) {
      font-size: 18px;
    }

    body {
      @apply font-arial text-text bg-bg;
    }
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--main-30);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-50);
}

.link-d3 {
  transition: stroke 0.3s ease;
  stroke: gray;
}

.link:hover {
  animation: pulse 2s infinite;
  stroke: red;
}

@keyframes pulse {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes oscillate-smooth {
  0% {
    transform: skewX(0deg) skewY(0deg);
  }
  6.25% {
    transform: skewX(2.5deg) skewY(0deg);
  }
  12.5% {
    transform: skewX(5deg) skewY(0deg);
  }
  18.75% {
    transform: skewX(5deg) skewY(2.5deg);
  }
  25% {
    transform: skewX(5deg) skewY(5deg);
  }
  31.25% {
    transform: skewX(2.5deg) skewY(5deg);
  }
  37.5% {
    transform: skewX(0deg) skewY(5deg);
  }
  43.75% {
    transform: skewX(-2.5deg) skewY(5deg);
  }
  50% {
    transform: skewX(-5deg) skewY(5deg);
  }
  56.25% {
    transform: skewX(-5deg) skewY(2.5deg);
  }
  62.5% {
    transform: skewX(-5deg) skewY(0deg);
  }
  68.75% {
    transform: skewX(-2.5deg) skewY(0deg);
  }
  75% {
    transform: skewX(-2.5deg) skewY(-2.5deg);
  }
  81.25% {
    transform: skewX(0deg) skewY(-2.5deg);
  }
  87.5% {
    transform: skewX(2.5deg) skewY(-2.5deg);
  }
  93.75% {
    transform: skewX(2.5deg) skewY(0deg);
  }
  100% {
    transform: skewX(0deg) skewY(0deg);
  }
}

.animate-oscillate-smooth {
  animation: oscillate-smooth 20s infinite linear;
}

@keyframes spin-y {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
}

.animate-spin-y {
  animation: spin-y 4s infinite linear;
}
